/* BASE CSS FILES */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* LAYOUTS CSS FILES */
.Carousel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: auto;
}

.Carousel::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 20;
  display: block;
  content: '';
  position: absolute;
  bottom: -15vw;
  left: -5vw;
  width: 110vw;
  height: 20vw;
  background: white;
  -webkit-transform: rotate(-4deg);
          transform: rotate(-4deg);
}

.Carousel::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: '';
  display: block;
  position: absolute;
  bottom: 4px;
  width: 100vw;
  height: 0px;
  background: rgba(255, 255, 255, 0.43);
  -webkit-box-shadow: 0px 0px 30px 5px white;
          box-shadow: 0px 0px 30px 5px white;
  z-index: 1;
}

.Video {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: auto;
}

.Video-Controls {
  position: absolute;
  top: 50%;
}

.Seek-Bar, .Controls-VolumeBar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0.5;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  height: 5px;
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
}

.Seek-Bar {
  width: 100vw;
}

.Controls-VolumeBar {
  background: rgba(0, 0, 0, 0.1);
}

.Seek-Bar::-webkit-slider-thumb, .Controls-VolumeBar::-webkit-slider-thumb {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  width: 3px;
  border-radius: 30%;
  height: 30px;
  background: white;
  -webkit-box-shadow: 0px 0px 10px white;
          box-shadow: 0px 0px 10px white;
  background: rgba(0, 0, 0, 0.1);
}

.Seek-Bar:hover {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 1;
  /* Fully shown on mouse-over */
}

.PlayPause {
  outline: none;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px white, 0px 0px 10px white inset;
          box-shadow: 0px 0px 10px white, 0px 0px 10px white inset;
  border: 2px solid rgba(0, 0, 0, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 60%;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PlayPause:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 1;
}

.PlayPause:focus {
  outline: 0;
  outline: none;
}

.ele {
  display: block;
  border-radius: 2px;
  width: 16px;
  height: 2px;
  -webkit-box-shadow: 0px 0px 7px white;
          box-shadow: 0px 0px 7px white;
  background: rgba(0, 0, 0, 0.7);
}

.ele1_play {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(30deg) translateX(1px) translateY(-3px);
          transform: rotate(30deg) translateX(1px) translateY(-3px);
}

.ele2_play {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(-30deg) translateX(0px) translateY(5px);
          transform: rotate(-30deg) translateX(0px) translateY(5px);
}

.ele3_play {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(90deg) translateY(5px) translateX(-2px);
          transform: rotate(90deg) translateY(5px) translateX(-2px);
}

.ele1_pause {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(90deg) translateX(2px) translateY(5px);
          transform: rotate(90deg) translateX(2px) translateY(5px);
}

.ele2_pause {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(90deg) translateX(0px) translateY(-5px);
          transform: rotate(90deg) translateX(0px) translateY(-5px);
}

.ele3_pause {
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: rotate(720deg) translateX(0px) translateY(0px);
          transform: rotate(720deg) translateX(0px) translateY(0px);
}

.Controls {
  width: 80vw;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 75%;
  left: calc(50% - 40vw);
}

.Controls-Mute {
  -webkit-box-shadow: 0px 0px 7px white;
          box-shadow: 0px 0px 7px white;
  border-radius: 50%;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.5;
  width: 25px;
  height: 25px;
  background: url("beforeXD/unmute.png") center center no-repeat;
  background-size: 70%;
}

.Controls-Mute:hover {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.8;
}

.Controls-Fullscreen {
  border-radius: 20%;
  -webkit-box-shadow: 0px 0px 7px white;
          box-shadow: 0px 0px 7px white;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0.5;
  width: 25px;
  height: 25px;
  background: url("beforeXD/fullscreen.png") center center no-repeat;
  background-size: 79%;
}

.Controls-Fullscreen:hover {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.8;
}

.Component {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.Article1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid black;
  margin-top: calc(20vw);
}

.Article1-Title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Article1-Carousel {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Carousel01 {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  min-width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.4);
}

.Carousel01-Arrow1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  background-color: black;
  top: calc(50% - 12.5px);
  left: 2%;
  z-index: 1001;
}

.Carousel01-Arrow2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: block;
  content: '';
  width: 25px;
  height: 25px;
  background-color: black;
  top: calc(50% - 12.5px);
  right: 2%;
  z-index: 1001;
}

.Carousel01-Item {
  opacity: 0.4;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  height: 50%;
  top: 0;
  width: 100%;
  z-index: 900;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid black;
  -webkit-transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s, z-index .5s;
  transition: transform .5s, opacity .5s, z-index .5s, -webkit-transform .5s;
}

.Carousel01-Item_Initial, .Carousel01-Item_Active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.Carousel01-Item_Prev, .Carousel01-Item_Next {
  z-index: 1000;
}

.Carousel01-Item_Prev {
  -webkit-transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s, z-index .5s;
  transition: transform .5s, opacity .5s, z-index .5s, -webkit-transform .5s;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  /* Move 'prev' item to the left */
}

.Carousel01-Item_Next {
  -webkit-transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s, z-index .5s;
  transition: transform .5s, opacity .5s, z-index .5s, -webkit-transform .5s;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
  /* Move 'prev' item to the left */
}

.Carousel01-Item2 {
  background-color: yellow;
}

/* STATES */
/*# sourceMappingURL=app.css.map */