.NavBar{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
    margin-bottom: 20vw;
    background: rgba($color: #000000, $alpha: 0.2);
    &-Logo{
        box-sizing: border-box;
        width: calc(100% - 10vh);
    }
    &-Hamburger{
        box-sizing: border-box;
        height: 10vh;
        width: 10vh;
        background-color: black;
    }
}