$transitionSpeed: 0.5s;

.NavBarDesktop{
    display: none;
    position: fixed;
    top: -30px;
    left:46.5vw;
    transition: $transitionSpeed;
    background-color: rgba($color: #ffffff, $alpha: 0.84);
    width: 90px;
    height: 90px;
    border: 0px solid black;
    z-index: 51;
    box-shadow: 0px 0px 6px;
    transform: rotateZ(45deg);
    &-Inner{
        width: inherit;
        height: inherit;
        position: relative;
    }
    &-Link{
        position: absolute;
    }
    &-About{
        left: 55px;
        bottom: 13px;
        transform: rotateZ(-45deg);
    }
    &-Offer{
        transform: rotateZ(-135deg);
        right: 8px;
        top: 11px;
    }
    &-Contact{
        transform: rotateZ(-225deg);
        left: 5px;
        top: 15px;
    }
    &:hover{
        transition: $transitionSpeed;
        box-shadow: 0px 0px 17px 2px black;
    }
}
.NavBarDesktop_AboutClick{
    transition: $transitionSpeed;
    transform: rotateZ(45deg);
}
.NavBarDesktop_OfferClick{
    transition: $transitionSpeed;
    transform: rotateZ(135deg);
}
.NavBarDesktop_ContactClick{
    transition: $transitionSpeed;
    transform: rotateZ(225deg);
}
@media(min-width: 1024px){
    .NavBarDesktop{    
        display: block;
    }
}