.ProjectsMobile {
    transition: 1s;
    position: relative;
    width: 100vw;
    height: 100%;
    z-index: 100;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #ffffff, $alpha: 0);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation: openProjects 1s alternate 1;
    @keyframes openProjects {
        from{
            height: 0vh;
            opacity: 0;
        }to{
            height: 100vh;
            opacity: 1;
        }
    }
    &-Item{
        //border-bottom: 4px solid black;
        //margin-top: 6vh;
        //margin-bottom: 4vh;
        //background-color: rgba($color: #880880, $alpha: 0.5);
        width: 100vw;
        height: 90vh;
        filter: contrast(130%);
    }
    &-Exit{
        transition: 0.4s;
        z-index: 101;
        width: 50px;
        height: 50px;
        position: fixed;
        bottom: 50px;
        right: 45vw;
        background: url("beforeXD/exitBtn.png") center center no-repeat;
        background-size: cover;

    }
}
@mixin flexItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.Item0{
    @include flexItem();
    &-Image{
        width: 100%;
        height: 85%;
        background: url("beforeXD/art0mobile2.jpg") center center no-repeat;
        background-size: cover;

    }
    &-Description{
        width: 100%;
        height: 15%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item1{
    @include flexItem();
    &-Image{
        width: 100%;
        height: 75%;
        background: url("beforeXD/art1mobile2.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 25%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item2{
    @include flexItem();
    height: 70vh;
    &-Image{
        width: 100%;
        height: 70%;
        background: url("beforeXD/art2mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 30%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item3{
    @include flexItem();
    height: 60vh;
    &-Image{
        width: 100%;
        height: 60%;
        background: url("beforeXD/art3mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 40%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item4{
    @include flexItem();

    &-Image{
        width: 100%;
        height: 75%;
        background: url("beforeXD/art4mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 25%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item5{
    @include flexItem();

    &-Image{
        width: 100%;
        height: 75%;
        background: url("beforeXD/art5mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 25%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item6{
    @include flexItem();

    &-Image{
        width: 100%;
        height: 80%;
        background: url("beforeXD/art6mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 20%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item7{
    @include flexItem();

    &-Image{
        width: 100%;
        height: 80%;
        background: url("beforeXD/art7mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 20%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item8{
    @include flexItem();
    height: 70vh;
    &-Image{
        width: 100%;
        height: 75%;
        background: url("beforeXD/art8mobile2.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 25%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item9{
    @include flexItem();
    height: 60vh;
    &-Image{
        width: 100%;
        height: 60%;
        background: url("beforeXD/art9mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 40%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}
.Item10{
    @include flexItem();
    height: 100vh;
    &-Image{
        width: 100%;
        height: 80%;
        background: url("beforeXD/art10mobile.jpg") center center no-repeat;
        background-size: cover;
    }
    &-Description{
        width: 100%;
        height: 20%;
        background-color: rgba($color: #ffffff, $alpha: 1);
    }
}