.ProjectsDesktop{
    display: none;
}
@media (min-width: 768px){
    .ProjectsDesktop{
        display: block;
        cursor: pointer;
        z-index: 60;
        transition: 0.4s;
        width: 90px;
        height: 90px;
        background-color: rgba($color: #ffffff, $alpha: 0.84);
        position: absolute;
        bottom: -30px;
        box-shadow: 0px 0px 6px black;
        transform: rotateZ(45deg);
        left:46.7vw;
        &-Title{
            font-size: 10px;
            transform: rotateZ(-45deg) translateX(-28px) translateY(20px);
            width: 100px;
            height: auto;
            
        }
        &:hover{
            transition: 0.4s;
            transform: scale(2) rotateZ(45deg) translateY(-20px) translateX(-20px);
        }
        &_clicked{
            cursor: auto;
            width: 90vw;
            height: 90vh;
            left:5vw;
            bottom: 5vh;
            transition: 0.4s;
            transform: rotateZ(0deg);
            &:hover{
                transition: 0.4s;
                transform: scale(1) rotateZ(0deg) translateY(0px) translateX(0px); 
            }
        }
        &-Inner{
            position: relative;
            height: 100%;
            scroll-behavior: smooth;
            overflow: auto;
            display: none;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.84);
            opacity: 1;
            animation: fade 1s ease-in 1;
            @keyframes fade {
                from{
                    opacity: 0;
                }to{
                    opacity: 1;
                }
            }
        }
        &-Exit{
            margin-top: 10px;
            margin-right: 10px;
            cursor: pointer;
            z-index: 70;
            position: fixed;
            width: 40px;
            height: 40px;
            background: url("beforeXD/exitBtn.png") center center no-repeat;
            background-size: cover;
            top: 0;
            right: 0;
        }
        &-Grid{
            position: relative;
            padding: 0px;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(7, 250px);
            grid-gap: 2px;
            grid-template-areas: 
            "a10 a8 a8 a2 a1"
            "a10 a8 a8 a0 a0"
            "a10 a8 a8 a0 a0"
            "a9  a5 a7 a0 a0"
            "a6  a5 a7 a3 a3"
            "a6  a4 a7 a3 a3"
            ".  a4 . a3 a3"
            ;
        }
        &-Fade{
            display: none;
            z-index: 1;
            position: fixed;
            grid-area: none;
            width: 100%;
            height: 100%;
            background: rgba($color: #000000, $alpha: 0.6);
        }
        &-Project{
            perspective: 100px;
            perspective-origin: center;
            backface-visibility: visible;
            transform-style: preserve-3d;
            transition: 0.4s;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                cursor: pointer;
                transition: 0.4s;
                transform: scale(1.1);
            }
            &Back{
                //border: 1px solid white;
                box-shadow: 10px 10px 10px black;
                border-radius: 10px;
                animation: fade 6s alternate 1;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                color: white;
                width: 90%;
                height: 40%;
                background: rgba($color: #000000, $alpha: 0.84);
                transform: translateZ(-200px) scale(2.7) rotateY(180deg);
            }
            &Title{
                font-size: 2rem;
            }
            &Description{
                padding: 10px;
                text-align: center;
                font-size: 2rem;
            }
        }
        &-Project0{
            
            transition: 0.4s;
            display: none;
            grid-area: a0;
            background: url("beforeXD/art0mobile2.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                width: 30vw;
                height: 85vh;
                position: fixed;
                top: 2.5vh;
                left: 30vw;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
            
        }
        &-Project1{
            display: none;
            grid-area: a1;
            background: url("beforeXD/art1mobile2.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                width: 30vw;
                height: 85vh;
                position: fixed;
                top: 2.5vh;
                left: 30vw;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project2{
            display: none;
            grid-area: a2;
            background: url("beforeXD/art2mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                position: fixed;
                width: 50vw;
                height: 80vh;
                left: 20vw;
                top: 5vh;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project3{
            display: none;
            grid-area: a3;
            background: url("beforeXD/art3mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                position: fixed;
                width: 60vw;
                height: 70vh;
                left: 15vw;
                top: 10vh;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project4{
            display: none;
            grid-area: a4;
            background: url("beforeXD/art4mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                width: 30vw;
                height: 85vh;
                position: fixed;
                top: 2.5vh;
                left: 30vw;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project5{
            display: none;
            grid-area: a5;
            background: url("beforeXD/art5mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                width: 30vw;
                height: 85vh;
                position: fixed;
                top: 2.5vh;
                left: 30vw;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project6{
            display: none;
            grid-area: a6;
            background: url("beforeXD/art6mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                width: 30vw;
                height: 85vh;
                position: fixed;
                top: 2.5vh;
                left: 30vw;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project7{
            display: none;
            grid-area: a7;
            background: url("beforeXD/art7mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                width: 30vw;
                height: 85vh;
                position: fixed;
                top: 2.5vh;
                left: 30vw;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project8{
            display: none;
            grid-area: a8;
            background: url("beforeXD/art8mobile2.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                position: fixed;
                width: 40vw;
                height: 80vh;
                left: 25vw;
                top: 5vh;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project9{
            display: none;
            grid-area: a9;
            background: url("beforeXD/art9mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                position: fixed;
                width: 60vw;
                height: 80vh;
                left: 20vw;
                top: 5vh;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
        &-Project10{
            display: none;
            grid-area: a10;
            background: url("beforeXD/art10mobile.jpg") center center no-repeat;
            background-size: cover;
            animation: fade 0.4s ease-in 1;
            &_clickShow{
                z-index: 2;
                display: block;
                grid-area: none;
                width: 30vw;
                height: 85vh;
                position: fixed;
                top: 2.5vh;
                left: 30vw;
                transform: scale(1);
                &_turnBack{
                    transform: scale(1) rotateY(-180deg);
                    &:hover{
                        transition: 1s;
                        transform: scale(1) rotateY(-180deg);
                    }
                }
                
            }
        }
    }
}
@media (min-width: 768px)and(max-width: 1024px){
    .ProjectsDesktop{
        &-Grid{
            position: relative;
            padding: 0px;
            width: 100%;
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(13, 250px);
            grid-gap: 2px;
            grid-template-areas: 
            "a0 a0 a7"
            "a0 a0 a7"
            "a0 a0 a4"
            "a1 a9 a4"
            "a1 a8 a8"
            "a6 a8 a8"
            "a6 a8 a8"
            "a2 a2 a5"
            "a2 a2 a5"
            "a3 a3 a3"
            "a3 a3 a3"
            ". a10 ."
            ". a10 .";
        }
        &-Project0{
            &_clickShow{
                width: 60vw;
                height: 85vh;
                left: 15vw;
            }
        }
        &-Project1{
            &_clickShow{
                width: 60vw;
                height: 85vh;
                left: 15vw;
            }
        }
        &-Project2{
            &_clickShow{
                width: 70vw;
                height: 60vh;
                left: 10vw;
                top: 15vh
            }
        }
        &-Project3{
            &_clickShow{
                width: 80vw;
                height: 70vh;
                left: 5vw;
                top: 10vh;
            }
        }
        &-Project4{
            &_clickShow{
                width: 60vw;
                height: 85vh;
                left: 15vw;
            }
        }
        &-Project5{
            &_clickShow{
                width: 60vw;
                height: 85vh;
                left: 15vw;
            }
        }
        &-Project6{
            &_clickShow{
                width: 60vw;
                height: 85vh;
                left: 15vw;
            }
        }
        &-Project7{
            &_clickShow{
                width: 60vw;
                height: 85vh;
                left: 15vw;
            }
        }
        &-Project8{
            &_clickShow{
                width: 60vw;
                height: 60vh;
                left: 15vw;
                top: 15vh;
            }
        }
        &-Project9{
            &_clickShow{
                width: 80vw;
                height: 50vh;
                left: 5vw;
                top: 20vh;
            }
        }
        &-Project10{
            &_clickShow{
                width: 60vw;
                height: 85vh;
                left: 15vw;
            }
        }
    }
}
@media (min-width: 1024px)and(max-width: 1440px){
    .ProjectsDesktop{
        &-Grid{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(9, 300px);
            grid-template-areas: 
            "a0 a0 a2 a2"
            "a0 a0 a2 a2"
            "a0 a0 a7 a10"
            "a1 a9 a7 a10"
            "a1 a8 a8 a10"
            "a4 a8 a8 a5"
            "a4 a8 a8 a5"
            "a6 a3 a3 a3"
            "a6 a3 a3 a3";
        }
        &-Project0{
            &_clickShow{
                width: 35vw;
                height: 85vh;
                left: 27.5vw;
            }
        }
        &-Project1{
            &_clickShow{
                width: 35vw;
                height: 85vh;
                left: 27.5vw;
            }
        }
        &-Project2{
            &_clickShow{
                width: 65vw;
                height: 80vh;
                left: 17.5vw;
                top: 5vh
            }
        }
        &-Project3{
            &_clickShow{
                width: 70vw;
                height: 70vh;
                left: 10vw;
                top: 10vh;
            }
        }
        &-Project4{
            &_clickShow{
                width: 50vw;
                height: 85vh;
                left: 20vw;
            }
        }
        &-Project5{
            &_clickShow{
                width: 50vw;
                height: 85vh;
                left: 20vw;
            }
        }
        &-Project6{
            &_clickShow{
                width: 50vw;
                height: 85vh;
                left: 20vw;
            }
        }
        &-Project7{
            &_clickShow{
                width: 50vw;
                height: 85vh;
                left: 20vw;
            }
        }
        &-Project8{
            &_clickShow{
                width: 60vw;
                height: 80vh;
                left: 15vw;
                top: 5vh;
            }
        }
        &-Project9{
            &_clickShow{
                width: 80vw;
                height: 70vh;
                left: 5vw;
                top: 15vh;
            }
        }
        &-Project10{
            &_clickShow{
                width: 50vw;
                height: 85vh;
                left: 20vw;
            }
        }
    }
}