/* Animation Values */
$scaleXValueStart: 1;
$scaleYValueStart: 1;

$scaleXValueEnd: 1.2;
$scaleYValueEnd: 1.2;

$animationProjectDuration: 0.2s;
$animationType: ease-in-out;

// Projects transform values 

$project1TranslateZ: -80px;
$project1RotateY: 10deg;

$project2RotateY: -10deg;

$project3RotateY: 20deg;

$project4TranslateZ: -10px;
$project4RotateY: -10deg;

$project5RotateY: 10deg;

$project6TranslateZ: -20px;
$project6RotateY: -10deg;

$project7RotateX: 10deg;
$project7RotateY: 5deg;
$project7RotateZ: -25deg;

$project8RotateY: 10deg;
$project8RotateZ: -10deg;

$project9RotateY: -10deg;
$project9RotateZ: 5deg;

$project10RotateY: 10deg;
$project10TranslateZ: -5px; 

.ProjectMain{
    position: relative;
    transition: 0.6s;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center;
    cursor: pointer;
    backface-visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &-Back{
        
        font-size: 0.4rem;
        transition: inherit;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotateY(180deg);
        &:hover{
            transition: $animationProjectDuration;
        }
    }

    &1{
        z-index: 50;
        background: url("beforeXD/art3.jpg") center center no-repeat;
        background-size: cover;
        width: 300px;
        height: 320px;
        top: -475px;
        left: -160px;
        transform:translateZ($project1TranslateZ) rotateY($project1RotateY);
        box-shadow: -3px 3px 3px  black;
    }
    &2{
        z-index: 50;
        backface-visibility: visible;
        background: url("beforeXD/art2.jpg") center center no-repeat;
        background-size: cover;
        width: 60px;
        height: 90px;
        top: 12%;
        right: 4%;
        
        box-shadow: 3px 3px 3px  black;    
        transform:rotateY($project2RotateY);
    }
    &3{
        z-index: 48;
        background: url("beforeXD/art8.jpg") center center no-repeat;
        background-size: cover;
        width: 100px;
        height: 130px;
        top: 30%;
        left: 13%;
        transform:rotateY($project3RotateY);
        box-shadow: -3px 3px 3px  black;
    }
    &4{
        z-index: 46;
        background: url("beforeXD/art1.jpg") center center no-repeat;
        background-size: cover;
        width: 150px;
        height: 120px;
        top: 62%;
        right: 10%;
        box-shadow: 3px 3px 3px  black;
        transform: rotateY($project4RotateY) translateZ($project4TranslateZ);
    }
    &5{
        z-index: 44;
        background: url("beforeXD/art5.jpg") center center no-repeat;
        background-size: cover;
        width: 150px;
        height: 120px;
        top: -10%;
        left: 10%;
        box-shadow: -3px 3px 3px  black;
        transform: rotateY($project5RotateY);
    }
    &6{
        z-index: 44;
        background: url("beforeXD/art6.jpg") center center no-repeat;
        background-size: cover;
        width: 125px;
        height: 100px;
        top: 0;
        right: 5%;
        box-shadow: 3px 3px 3px black;
        transform:rotateY($project6RotateY) translateZ($project6TranslateZ);
    }
    &7{
        z-index: 42;
        background: url("beforeXD/art9.jpg") center center no-repeat;
        background-size: cover;
        width: 175px;
        height: 140px;
        top: 65%;
        right: 25%;
        box-shadow: -3px 3px 3px black;
        transform: rotateZ($project7RotateZ) rotateX($project7RotateX) rotateY($project7RotateY);
    }
    &8{
        z-index: 41;
        background: url("beforeXD/art0.jpg") center center no-repeat;
        background-size: cover;
        width: 100px;
        height: 150px;
        top: -10%;
        left: 10%;
        box-shadow: -3px 3px 3px black;
        transform: rotateZ($project8RotateZ)rotateY($project8RotateY);
    }
    &9{
        z-index: 40;
        background: url("beforeXD/art4.jpg") center center no-repeat;
        background-size: cover;
        width: 120px;
        height: 120px;
        top: 58%;
        right: 10%;
        box-shadow: 3px 3px 3px black;
        transform: rotateZ($project9RotateZ) rotateY($project9RotateY);
    }
    &10{
        z-index: 39;
        background: url("beforeXD/art10.jpg") center center no-repeat;
        background-size: cover;
        width: 150px;
        height: 150px;
        top: 80%;
        left: -5%;
        box-shadow: -3px 3px 3px black;
        transform:rotateY($project10RotateY) translateZ($project10TranslateZ);
    }
}
@media (min-width: 768px){
    .ProjectMain{
        display: none;
    }
}
