.Title{
    background-color: rgba($color: #ffffff, $alpha: 0.84);
    width: 70vw;
    height: 135px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 0px;
    box-shadow: 0px 0px 5px black;
    padding: 5px;
    &-One::before,&-One::after{
        content: '';
        margin: 21px;
        width: 1px;
        height: 35px;
        border: 1px solid black;
    }
    &-Two::before, &-Two::after{
        content: '';
        margin: 21px;
        width: 1px;
        height: 25px;
        border: 1px solid black;
    }
}
.Title1{
    z-index: 49;
}

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-weight: 300;
    font-size: 2rem;
}
h4{
    font-weight: 700;
    font-size: 2rem;
}
.Title2{
    display: none;
}
.Title3{
    display: none;
}
@media (min-width: 1024px){
    
}