.Form-LabelEmailFrom_focus{
    transition: 0.4s;
    top: -15px;
}
.Form-LabelTextArea_focus{
    transition: 0.4s;
    top: -15px;
}
.Form-TextArea_focus{
    height: 100px;
}
.Form-TextArea{
    outline: none;
}
input:focus{
    outline: none;
}
input:disabled{
    background-color: rgba($color: #ffffff, $alpha: 0);
}
