.ProjectMain_clicked_left{
    transition: 0.6s;
    z-index: 55;
    position: fixed;
    width: 80vw;
    height: 60vh;
    top: 20vw;
    left: 10vw;
    transform: rotateY(0deg) scaleX(0.8) scaleY(0.8);
    box-shadow: 0px 0px 10px black;
}
.ProjectMain_clicked_right{
    transition: 0.6s;
    z-index: 55;
    position: fixed;
    width: 80vw;
    height: 60vh;
    top: 20vw;
    right: 10vw;
    transform: rotateY(0deg) scaleX(0.8) scaleY(0.8);
    box-shadow: 0px 0px 10px black;
}
.ProjectMain_back{
    transform: rotateY(180deg) scaleX(0.8) scaleY(0.8);
}
.ProjectMain-Back_visible{
    background-color: rgba($color: #ffffff, $alpha: 0.84);
    border: 1px solid black;
    padding: 10px;
    width: 34vw;
    height: 22vh;
    transition: 0s;
    transform: translateZ(-30px) rotateY(180deg) translateY(10px);
    font-size: 1rem;
    box-shadow: 0px 0px 4px black;
}