:root{
      font-size: 10px;  
      font-family: 'Dosis', sans-serif;
      font-weight: 400;
      color: black;
      $allBoxesAndLinksBackground: #fff;
      $opacityAllBoxes: 0.84;
      overflow-x: hidden;
      scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 2px;
}
body{
    background-color: rgba($color: #cccccc, $alpha: 0.0);
    margin: 0;
    padding: 0;
}
a, a:visited, a:focus, a:active{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


@media only screen and (max-width: 400px){
    :root{
        font-size: 8px;
    }
}
@media only screen and (max-width: 360px){
    :root{
        font-size: 6px;
    }
}
