.Box{
    width: 70vw;
    height: 20vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    &-Inner{
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
        //background-color: rgba($color: #ffffff, $alpha: 0.84);
        padding: 5px;
        z-index: 2;
        //box-shadow: 0px 0px 5px black;
    }
    &-Description{
        margin-bottom: 0px;
        font-size: 1rem;
    }
}
.About{
    height: 20vh;
    &-Title{
        font-weight: bold;
    }
    &-Inner{
        width: 100%;
        z-index: 47;
        font-size: 1.2rem;

    }
}

.Projects{
    z-index: 45;
    animation: glow 1.2s alternate infinite;
    @keyframes glow {
        0%{
            transform: scale(1);
            box-shadow: 0px 0px 5px black;
        }100%{
            transform: scale(1.05);
            box-shadow: 0px 0px 5px rgba($color: #880000, $alpha: 0.2);
        }
    }
}

.Offer{
    z-index: 43;
    &-Title{
        font-weight: bold;
    }
    &-Description{
        font-size: 1.2rem;
    }
}
.ContactLink{
    z-index: 43;
}
.Contact{
    height: 350px;
    .Box-Inner{
        z-index: 41;
        width: 70vw;
        height: 100%;
        
    }
}

.BoxLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 5vh;
    text-align: center;
    //background-color: rgba($color: #ffffff, $alpha: 0.84);
    //box-shadow: 0px 0px 5px black;
    padding: 5px;
}
.BoxLink2{
    //background-color: rgba($color: #ffffff, $alpha: 0.84);
    z-index: 40;
    display: flex;
    padding: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 100px;
    text-align: center;
    padding-bottom: 0px;
    
    //box-shadow: 0px 0px 5px black;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    
    
}
@media (min-width: 481px) and (max-width: 767px) {
  
    
}
  
@media (min-width: 768px) and (max-width: 1024px){
    
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      
}
@media (min-width: 1025px){
    .Box{
        
        min-height: 120px;
        height: 25vh;
        margin: 0;
        &-Inner{
            //border-radius: 30px;
            min-height: 120px;
            height: 25vh;
        }
        &-Description{
            margin: 0;
        }
        &-Title{
            
        }
    }
    .Contact{
        //height: 350px;
        min-height: 250px;
        height: 45vh;
        &-Inner{
            height: 25vh;
        }
    }
    .About{
        min-height: 120px;
        height: 25vh;
        &-Inner{
            width: calc(70vw - 100px);
            height: 30vh;
            min-height: 120px;
            font-size: 1.7rem;
            padding: 0 50px;
        }
        
    }
    .Offer{
        &-Description{
            font-size: 1.7rem;
        }
    }
    .Projects{
        display: none;
    }
    .BoxLink{
        //border-radius: 30px;
        padding: 5px;
        height: 15vh;
        justify-content: center;
    }
    .BoxLink2{
        //border-radius: 30px;
    }
}
@media (min-width: 1440px){
    .About{
        &-Inner{
            font-size: 2rem;
        }
    }
    .Offer{
        &-Description{
            font-size: 2rem;
        }
    }
    .ContactLink{
            font-size: 3rem;
    }
}



@media only screen and (max-height: 600px) {
    .BoxLink2{
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
  
    
}