.Page{
    //z-index: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

}
.Page1{
    height: 90vh;
    justify-content: space-evenly;
    
}
.Page2{
    z-index: 1;
    height:50vh;


    justify-content:space-around;
    
}
.Page3{
    z-index: 0;
    height: 90vh;
    justify-content: space-around;
}
@media (min-width: 320px) and (max-width: 480px) {
    .Page2{
      
    }
}
@media (min-width: 481px) and (max-width: 767px) {
  
    
}
@media (min-width: 768px) and (max-width: 1024px){
    
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      
}
@media (min-width: 1025px){
    .Page{
        height: 100vh;
        justify-content: space-evenly;
    }
    .Page2{
        margin-bottom: 0px;
    }
    .Page3{
       
    }
}