.Page{
    //z-index: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    perspective-origin: center;
    perspective: 110px;
}
.Page1{
    height: 100vh;
    
}
.Page2{
    z-index: 1;
    height: 65vh;
    margin-bottom: 150px;
    perspective-origin: 50% 60%;
    
}
.Page3{
    z-index: 0;
    height: 90vh;
    justify-content: space-around;
}