
.Tutorial{
    transition: 0.4s;
    perspective: 110px;
    perspective-origin: center;
    font-size: 1.8rem;
    display: flex;
    position: fixed;
    align-items: flex-start;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: 51;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    &-Message{
        font-weight: bold;
        transition: 0.4s;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transform: translateY(15vh) translateX(-10vw);
    }
    &-Arrow{
        transition: 0.4s;
        color: black;
        transform: rotateY(180deg) translateY(20px) translateX(-12vw);
    }
    &-Title{
        transition: 0.4s;
    }
    &-Desktop{
        display: none;
    }
}
.ProjectMainTutorial{
    border-radius: 10%;
    position: relative;
    transition: 0.6s;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center;
    cursor: pointer;
    backface-visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("beforeXD/art8mobile2.jpg") center center no-repeat;
    background-size: cover;
    width: 100px;
    height: 130px;
    top: 30%;
    left: 13%;
    transform:rotateY(20deg);
    box-shadow: -3px 3px 3px  black;
    
    &_clicked{
        z-index: 55;
        top: 25vh;
        left: 10vw;
        transform: rotateY(0deg) scaleX(1) scaleY(1);
        width: 80vw;
        height: 50vh;
        box-shadow: 0px 0px 10px black;
    }
    
    &-Back{
        font-size: 0.4rem;
        transition: inherit;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotateY(180deg);
    }
    &-Exit{
        z-index: 55;
    }
}
.Tutorial-Message_Move1{
    transition: 0.4s;
   transform: translateY(84vh) translateX(10vw);
}
.Tutorial-Message_Move2{
    transition: 0.4s;
   transform: translateY(15vh) translateX(15vw);
}
.Tutorial-Message_Move5{
    opacity: 0;
}
.Tutorial-Message_Move3{
    transition: 0.4s;
    transform: translateY(30vh) translateX(-15vw);
}
.Tutorial-Message_Move4{
    transition: 0.4s;
    transform: translateY(65vh) translateX(0vw);
}
.Tutorial-Arrow_Move1{
    transition: 0.4s;
    transform: rotateY(180deg) rotateX(180deg) translateY(20px) translateX(-10vw);
}
.Tutorial-Arrow_Move2{
    transition: 0.4s;
    transform: rotateY(0deg) rotateX(0deg) translateY(20px) translateX(75vw);
}
.ProjectMainTutorial_opacity_0{
    opacity: 0;
}
@media (min-width: 768px){
    .ProjectMainTutorial{
        display: none;
    }
    .Tutorial{
        &-Exit{
            top: 20px;
            left: 20px;
            bottom: none;
            cursor: pointer;
        }
        &-Mobile{
            display: none;
        }
        &-Desktop{
            display: flex;
        }
        &-Message{
            font-weight: bold;
            transition: 0.4s;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            transform: translateY(15vh) translateX(12vw);
        }
        &-Arrow{
            transition: 0.4s;
            color: black;
            transform: rotateZ(180deg) translateY(20px) translateX(-20vw);
        }
        &-Title{
            transition: 0.4s;
        }
    }
    .Message_moveDesktop1{
        transform: translateY(75vh) translateX(10vw);
    }
    .Arrow_moveDesktop1{
        transform: rotateZ(0deg) rotateY(180deg) translateY(20px) translateX(-20vw);
    }
}
@media (min-width: 1024px){
    .Tutorial{
        &-Arrow{
            transition: 0.4s;
            color: black;
            transform: rotateZ(180deg) translateY(20px) translateX(-23vw);
        }
        &-Message{
            font-weight: bold;
            transition: 0.4s;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            transform: translateY(15vh) translateX(4vw);
        }
    }
    .Message_moveDesktop1{
        transform: translateY(75vh) translateX(8vw);
    }
    .Arrow_moveDesktop1{
        transform: rotateZ(0deg) rotateY(180deg) translateY(20px) translateX(-23vw);
    }
}
@media (min-width: 1440px){
    .Tutorial{
        &-Arrow{
            transition: 0.4s;
            color: black;
            transform: rotateZ(180deg) translateY(20px) translateX(-26vw);
        }
        &-Message{
            font-weight: bold;
            transition: 0.4s;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            transform: translateY(15vh) translateX(-3vw);
        }
    }
    .Message_moveDesktop1{
        transform: translateY(75vh) translateX(0vw);
    }
    .Arrow_moveDesktop1{
        transform: rotateZ(0deg) rotateY(180deg) translateY(20px) translateX(-27vw);
    }
}