.NavBar{
    z-index: 100;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 10vh;
    background: rgba($color: #000000, $alpha: 0.0);
    &-Logo{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        width: calc(100% - 10vh);
        &Title{
            font-size: 1.5rem;
        }
    }
    &-Hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        height: 50px;
        width: 50px;
        background-color: transparent;
        &Line {
            top: 0;
            display: block;
            position: absolute;
            width: 25px;
            height: 2px;
            background-color: black;
            left: calc(50% - 12.5px);
            &1{
                transition: .4s;
                top: calc(17px - 1px);
                &_Exit{
                    transition: .4s;
                    top: calc(25px - 1px);
                    transform: rotateZ(-45deg);
                }
            }
            &2{
                transition: .4s;
                top: calc(25px - 1px);
                &_Exit{
                    opacity: 0;
                    transition: .4s;
                }
            }
            &3{
                transition: .4s;
                top: calc(33px - 1px);
                &_Exit{
                    transition: .4s;
                    top: calc(25px - 1px);
                    transform: rotateZ(45deg);
                }
            }
        }
    }
}