.Article4 {
    border: none;
    height: 70vh;
    padding: 5vh 0 5vh 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    @media (min-width: 1024px) {
        height: 80vh;
        justify-content: space-evenly;
    }
    &-Text{
        height: auto;
        box-sizing: border-box;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        &Title {
            box-sizing: border-box;
            margin: 0;
            padding: 30px 20px 60px 20px;
            font-size: 3.7rem;
            @media (min-width: 768px) {
                font-size: 4.7rem;   
            }
            @media (min-width: 1024px) {
                transform: translateY(10vh);
                padding: 30px 50px 60px 50px;
            }
        }
        &Description {
            display: none;
        }
    }
    &-Img{
        display: flex;
        align-items: space-evenly;
        justify-content: space-evenly;
        box-sizing: border-box;
        height: 20vh;
        width: 100vw;
        @media (min-width: 1024px) {
            justify-content: center;
        }
        &Me{
            bottom: 8vh;
            z-index: 25;
            display: block;
            box-sizing: border-box;
            width: 25vw;
            height: 25vw;
            border-radius: 50% 50% 50% 50%;
            box-shadow: 0px 0px 10px black;
            @media (min-width: 1024px) {
                width: 20vw;   
                height: 20vw;   
                margin: 0 5vw 0 5vw;
            }
        }
    }
}