.Article3 {
    z-index: 30;
    background: black;
    position: relative;
    margin-top: 20vh;
    height: auto;
    padding: 0 0 10vh 0;
    &-AboveBar{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        box-sizing: border-box;
        z-index: 20;
        content: '';
        position: absolute;
        top: -15vw;
        left: -5vw;
        width: 110vw;
        height: 20vw;
        background: black;
        transform: rotate(-4deg);
        box-shadow: 0px 0px 10px black;
        &Text{
            margin-top: 15vh;
            font-weight: 700;
            font-size: 4rem;
            transform: rotate(4deg);
        }
    }
    &-Text {
        &Title{
            color: white;
            box-sizing: border-box;
            margin: 10vh 0 0 0;
            padding: 30px 30px;
            font-size: 2.7rem;
            &1{
                text-align: left;
            }
            &2{
                text-align: right;
            }
            &3{
                text-align: left;
            }
            &4{
                text-align: right;
            }
        } 
        &Description {
            color: white;
            margin: 0;
            box-sizing: border-box;
            padding: 0px 40px;
            font-size: 1.5rem;
            &1{
                text-align: left;
            }
            &2{
                text-align: right;
            }
            &3{
                text-align: left;
            }
            &4{
                text-align: right;
            }
        }
        &Img{
            max-width: 480px;
            width: 60vw;
            border-radius: 20%;
            margin: 10vh 20vw 0vh 20vw;
            box-shadow: 0px 0px 7px white;
            &Attribution{
                font-size: 1.5rem;
                color: white;
                text-align: center;
            }
            &2{
                border-radius: 10%;
            }
        }
    }
}