.Carousel{
    margin-top: 35vw;
    box-sizing: border-box;
    position: relative;
    z-index: 26;
    width: 100vw;
    height: auto;
    @media (min-width: 1024px){
        margin-top: 20vw;
    }
    @media (min-width: 1280px){
        margin-top: 6vw;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    &-Bottombar{
        box-sizing: border-box;
        z-index: 26;
        position: absolute;
        bottom: -15vw;
        left: -5vw;
        width: 110vw;
        height: 20vw;
        background: white;
        transform: rotate(-4deg);
        box-shadow: 0px 0px 10px white;
        @media (min-width: 1024px){
            transform: rotate(0deg);
            height: 0vw;
        }
        @media (min-width: 1920px){
            bottom: 0vw;
            height: 5vw;
        }
    }
    &-Abovebar{
        box-sizing: border-box;
        z-index: 26;
        position: absolute;
        top: -15vw;
        left: -5vw;
        width: 110vw;
        height: 20vw;
        background: white;
        transform: rotate(-4deg);
        box-shadow: 0px 0px 10px white;
        @media (min-width: 1024px){
            width: 100vw;
            transform: rotate(0deg);
            height: 15vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        @media (min-width: 1280px){
            height: 5vw;
            top: -5.5vw;
            left: -12vw;
        }
        &Img{
            box-shadow: 0px 0px 5px black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            &1{
                width: 20px;
                border-radius: none;
                @media (min-width: 768px) {
                    width: 30px;
                    margin: 0 0 0 20px;
                }
                @media (min-width: 1024px) {
                    width: 30px;
                    margin: 0 100px 0 20px;
                }
            }
            &2{
                margin: 0 10px 0 5px;
                @media (min-width: 768px) {
                    margin: 0 20px 0 10px;
                }
                @media (min-width: 1024px) {
                    margin: 0 20px 0 250px;
                }
            }
            &3{
                margin: 0 5px 0 5px;
                @media (min-width: 768px) {
                    margin: 0 20px 0 10px;
                }
            }
            @media (min-width: 768px) {
                width: 40px;
                height: 40px;
            }
        }
        &Container{
            box-sizing: border-box;
            width: 100vw;
            padding: 0 0vw 0 10vw;
            font-size: 1.4rem;
            transform: rotate(4deg);
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (min-width: 768px) {
                font-size: 1.9rem;
            }
            @media (min-width: 1024px){
                transform: rotate(0deg);
                justify-content: space-evenly;
            }
            @media (min-width: 1280px) {
                font-size: 1.5rem;
            }
            &1{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                &Paragraph{
                    margin: 0 10px 0 10px;
                }
            }
            &2{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                &Paragraph{
                    margin: 0 10px 0 10px;
                }
            }

        }
    }
}
.Video{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: auto;
    @media (min-width: 1280px) {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    &-Controls{
        position: absolute;
        top: 50%;
    }
}
.Seek-Bar, .Controls-VolumeBar{
    box-sizing: border-box;
    transition: opacity 1s;
    opacity: 0.5;
    appearance: none;
    outline: none;
    height: 5px;
    box-shadow: 0px 0px 10px white;
}
.Seek-Bar{
    width: 100vw;
}
.Controls-VolumeBar{
    background: rgba($color: #000, $alpha: 0.1);
}
.Seek-Bar::-webkit-slider-thumb, .Controls-VolumeBar::-webkit-slider-thumb{
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 3px;
    border-radius: 30%;
    height: 30px;
    background: white;
    box-shadow: 0px 0px 10px white;
    background: rgba($color: #000, $alpha: 0.1);
}
.Seek-Bar:hover {
    transition: 1s;
    opacity: 1; /* Fully shown on mouse-over */
}
.PlayPause {
    outline: none;
    transition: opacity 0.4s;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 10px white,
    0px 0px 10px white inset;
    border: 2px solid rgba($color: #000, $alpha: 0.4);
    box-sizing: border-box;
    position: absolute;
    top: 60%;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        transition: 0.4s;
        opacity: 1;
    }
    &:focus {
        outline: 0;
        outline: none; 
    }
}
.ele{
    display: block;
    border-radius: 2px;
    width: 16px;
    height: 2px;
    box-shadow: 0px 0px 7px white;
    background: rgba($color: #000, $alpha: 0.7);
    &1_play{
        transition: 0.4s;
        transform: rotate(30deg) translateX(1px) translateY(-3px);
    }
    &2_play{
        transition: 0.4s;
        transform: rotate(-30deg) translateX(0px) translateY(5px);
    }
    &3_play{
        transition: 0.4s;
        transform: rotate(90deg) translateY(5px) translateX(-2px);
    }
    &1_pause{
        transition: 0.4s;
        transform: rotate(90deg) translateX(2px) translateY(5px);
    }
    &2_pause{
        transition: 0.4s;
        transform: rotate(90deg) translateX(0px) translateY(-5px);
    }
    &3_pause{
        opacity: 0;
        transition: 0.4s;
        transform: rotate(720deg) translateX(0px) translateY(0px);
    }
}
.Controls{
    width: 80vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    top: 75%;
    left: calc(50% - 40vw);
    @media (min-width: 768px) {
        width: 50vw;       
        left: calc(50% - 25vw);
    }
    @media (min-width: 1280px) {
        width: 30vw;       
        left: calc(50% - 15vw);
    }
}
.Controls-Mute {
    box-shadow: 0px 0px 7px white;
    border-radius: 50%;
    transition: opacity 0.4s;
    opacity: 0.5;
    width: 25px;
    height: 25px;
    background: url('beforeXD/unmute.png') center center no-repeat;
    background-size: 70%;
    &:hover{
        cursor: pointer;
        transition: 0.4s;
        opacity: 0.8;
    }
}
.Controls-Fullscreen {
    border-radius: 20%;
    box-shadow: 0px 0px 7px white;
    transition: opacity 0.4s;
    opacity: 0.5;
    width: 25px;
    height: 25px;
    background: url('beforeXD/fullscreen.png') center center no-repeat;
    background-size: 79%;
    &:hover{
        cursor: pointer;
        transition: 0.4s;
        opacity: 0.8;
    }
}
